artifacts/**
build/**
.build_script/**
node_modules/**
Documentation/ApiDocs/**
Documentation~/ApiDocs/**
BuildScripts~/**
Plugin~/**
.DS_Store
.npmrc
.npmignore
.github
.gitignore
.editorconfig
CONTRIBUTING.md
CONTRIBUTING.md.meta
QAReport.md
QAReport.md.meta
.gitlab-ci.yml
build.sh
build.sh.meta
build.bat
build.bat.meta

WebRTC~/**

# waste of the plugin artifacts
linux_plugin-*
win_plugin-*
